.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 0 30px;
  border-bottom: 1px solid black;
}

.header-right {
  text-align: right;
  font-weight: 600;
}
